body {
  background-image: url("static/images/back3.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(250, 244, 244);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: rgb(226, 222, 222);
  }
  .nav {
    float: right;
    font-size: 20px;
  }
  
  .active {
    background-color:  rgb(175, 225, 245);
  }  
  
  .header {
      text-align: center;
      font-size: 50px;
      color: bisque;
  }
  
  .foot {
      text-align: center;
      color: white;

  }
 

  #head {
    font-size: 100px;
    
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 20px;
    color: beige;
  }
  .img-responsive {
    border-radius: 30px;
  }
