body {
  margin: 10px;
  padding: 10px;
  border: 10px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoOKYUeNePf5lPCZbYITmRY7_WQYOSNuj5CJc9yIrcbRGacPI_");
  background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: #933;
  }
  .nav {
    float: right;
    font-size: 20px;
  }
  
  .active {
    background-color:  #933;
  }  
  .photo {
      height: 800px;
      width: 100%;
      border-radius:60px;
  }

  .header {
      text-align: center;
      font-size: 50px;
      color: bisque;
  }
  
  .foot {
      text-align: center;
      color: white;

  }
 
  .bar {
      float: left;
      font-size: 30px;
      
  }

  #heading {
    font-size: 100px;
    color: bisque;
  }
  #head {
    font-size: 100px;
    color: bisque;
  }
  h2 {
    color: bisque;
    font-size: 50px;
  }
  .about {
    color: beige;
    letter-spacing: 1px;
    font-style: oblique;
  }
